<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>865350922857-l9svukuaibc8c7al6lb2earnfffkfirn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865350922857-l9svukuaibc8c7al6lb2earnfffkfirn</string>
	<key>API_KEY</key>
	<string>AIzaSyAQke6tggWbcNPrILoDcbPo2quhAtobpVg</string>
	<key>GCM_SENDER_ID</key>
	<string>865350922857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xianglongkong.VirtualTouristPlusFood</string>
	<key>PROJECT_ID</key>
	<string>ios-analytics-0932a</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-analytics-0932a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865350922857:ios:7b06a637d21f2fda</string>
	<key>DATABASE_URL</key>
	<string>https://ios-analytics-0932a.firebaseio.com</string>
</dict>
</plist>